[SERVICE]
    Flush 5
    Log_Level info
[INPUT]
    Name tail
    Tag kube.*
    Path /var/log/containers/*nginx*.log
    Exclude_Path /var/log/containers/*velox-agent*.log
    multiline.parser cri
    Read_from_Head On
    Mem_Buf_Limit 5MB
    Skip_Long_Lines On
[FILTER]
    Name kubernetes
    Match kube.*
    Kube_Tag_Prefix kube.var.log.containers.
    Merge_Log Off
    Keep_Log On
[FILTER]
    Name modify
    Match kube.*
    Rename log message
[OUTPUT]
    Name opensearch
    Match *
    Host {os_host}
    Port 9200
    HTTP_User {os_user}
    HTTP_Passwd {os_password}
    tls On
    tls.verify Off
    Suppress_Type_Name On
    Index {index}
    Trace_Error On
